/*Created 2015-02-28 by the CodeCloud Team
This is a Saas file has an 'Asset Type' of SCSS. CSS will be compiled when saving.
For more information on asset types please see http://www.getcodecloud.com/docs#SaSS
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body{
    color:#777;
    font-family:'Open Sans';
}
h1 {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 2rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}
h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

#content{
    margin-top:100px;
    font-size:150px;
    text-align:center;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body{
      padding:10px;
  }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
 body{
      padding:30px;
  }
    
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   body{
      padding:50px;
  }
    
    
}